# Our First Class

This is our first class in this class we learn how to print

In [3]:
print(123)#Integer

123

In [4]:
print("Hello",'World') #String

Hello World

In [5]:
print(12.5) #Float

12.5

In [12]:
print('Syed',"Hamza",1981,12.5,True)

Syed Hamza 1981 12.5 True

In [13]:
print('Syed',"Hamza",1981,12.5,True,sep = "-")

Syed-Hamza-1981-12.5-True

In [14]:
print('Syed',"Hamza",1981,12.5,True, sep = "\t", end = "\t")
print('Syed',"Hamza",1981,12.5,True, sep = "\t")

Syed	Hamza	1981	12.5	True	Syed	Hamza	1981	12.5	True

How many escape characters in Python

In [33]:
name = ["Asad", "Arsalan", "Samad", "Rahat",'38','42','28','36']
for i in name:
    print(i[3])

d
a
a
a

IndexError: string index out of range

In [32]:
id(name)

81254024

In [20]:
x = 2
y = '2'
z= str(x)+ y
print(z)

22

In [22]:
z = x + int(y)
print(z)

4

In [34]:
z

4

In [38]:
age = 23
name = 'Shehzad'
print('My name is '+name+' and my age is ',age)

My name is Shehzad and my age is  23

In [41]:
age = input('What is your age? ')
print('My age is {}'.format(age))
print(f'My age is {age}')

What is your age? 25
My age is 25
My age is 25

# Math expressions: Familiar Operator

In [1]:
2**3

8

In [2]:
(1+5)**3

216

In [4]:
2*(1+1)**3+7

23

In [7]:
2+3/2+0.5

4.0

# Math expressions: Unfamiliar Operator

In [25]:
(1+3)*4

16

# if statement

In [26]:
a=2
b=3
a==b

False

In [27]:
a>b

False

In [28]:
a<b

True

In [29]:
a>=b

False

In [30]:
a!=b

True

In [40]:
a = int(input("A"))
b= int(input("B"))
if a>b:
    print(f"If {a} is less than {b}")
else:
    print(f" Else {b} is greater than {a}")

A3
B4
 Else 4 is greater than 3

In [46]:
age=int(input("age"))
ticket=(input("Ticket"))
if ticket=="Yes":
    if age>=20:
        print("Go ahead")
    else:
        print("Age is not applicable")
else:
    print("Ticket not available")

age21
TicketYes
Age is not applicable

In [56]:
cnic= input("Check CNIC")
validcnic = "4250185860005"
validlist="Hamza"
if cnic == validcnic:
    print("Your CNIC is valid")
    votinglist= input("Check list")
    if votinglist== validlist:
        print("Your name is available on list")
        print("You are allowed")
    else:
        print("Your name not available")
else:
    print("Your CNIC is not valid")

Check CNIC4250185860005
Your CNIC is valid
Check listHamza
Your name is available on list
You are allowed

In [62]:
cnic= input("Check CNIC")
votinglist= input("Check list")
validcnic = "4250185860005"
validlist="Hamza"
if cnic == validcnic and votinglist== validlist:
    print("Your CNIC is valid")
    print("Your name is available on list")
    print("You are allowed")
else:
    print("Your CNIC is not valid")
    print("\t OR")
    print("Your name not available")

Check CNIC4250185860005
Check listNo
Your CNIC is valid
Your name is available on list
You are allowed

In [72]:
a = int(input("A= "))
b = int(input("B= "))

if a==b or a<b or a>b:
    print("A is equal to B")
elif a>b:
    print("A is greater than B")
elif a<b:
    print("A is Less than B")
else:
    print("Error")

A= 9
B= 5
A is equal to B

In [76]:
doc= input("Docs :")
cash = input("Cash :")

if doc == "Yes" or cash == "Yes":
    print("Chal Nikal")
else:
    print("Chal Thanay")

Docs :No
Cash :No
Chal Thanay

In [82]:
doc= input("Docs : ")
cash = input("Cash : ")

if doc == "Yes":
    print("Bach gaya")
elif cash == "Yes":
    print("Chal Nikal")
else:
    print("Chal Thanay")

Docs : No
Cash : Yes
Chal Nikal

In [71]:
print('Syed Hamza')
pin = input('\n Please enter your Pin: ')
mypin = '1234'
sums = 75000.0
balance = sums

if mypin == pin:
    print('\t Welcome to HBL')
    print("\n Press 1 for Cash Withdrawl")
    print("\n Press 2 for Cash Deposit")
    print('\n Press 3 for Balance Inquiry')
    cash = int(input('Option: '))
    if cash == 1:
        withdrawl = float(input('\n Enter Withdrawl Amount: '))
        if withdrawl <= balance:
            sums = balance-withdrawl
            print('\n You have Withdrawl ', withdrawl ,' from your account')
            print('\n Your Current Balance is: ', sums)
        else:
            print(f'Amount Should be less than {balance}')
            cash = int(input('Option: '))
    elif cash == 2:
        deposit = float(input('Enter Deposit Amount: '))
        sums = deposit+balance
        print('\n You have deposit ' ,deposit,' into your account')
        print('\n Your Current Balance is: ', sums)
    elif cash == 3:
        print('\n Your Current Balance is: ', sums)
    else:
        print('\n Invalid Input!')
else:
    print('\n Invalid Pin')

Syed Hamza

 Please enter your Pin: 1234
	 Welcome to HBL

 Press 1 for Cash Withdrawl

 Press 2 for Cash Deposit

 Press 3 for Balance Inquiry
Option: 1

 Enter Withdrawl Amount: 1000000
Amount Should be less than 75000.0
Option: 2

# List

In [1]:
x = ['Asad','Samad','Rahat','Arsalan','Bilal','Qasim']
print(x[2])

Rahat

In [10]:
len(x) #find list length
del x[5] #delete by index
x.remove('Bilal') #remove by name

ValueError: list.remove(x): x not in list

In [4]:
print(x)

['Asad', 'Samad', 'Rahat', 'Arsalan']

In [5]:
x.append('Bilal') #add value

In [6]:
print(x)

['Asad', 'Samad', 'Rahat', 'Arsalan', 'Bilal']

In [7]:
x.insert(0,'Qasim') #insert value

In [8]:
print(x)

['Qasim', 'Asad', 'Samad', 'Rahat', 'Arsalan', 'Bilal']

In [9]:
x.index('Bilal') # find index

5

In [11]:
x.count('Bilal')

0

In [15]:
x.reverse() #reverse
x.sort(reverse=True) #first sort than reverse
print(x)

['Arsalan', 'Asad', 'Qasim', 'Rahat', 'Samad']

In [20]:
random = [3,6,9,12,15,18]
random.reverse()
random

[18, 15, 12, 9, 6, 3]

In [30]:
b = random
b

[18, 15, 12, 9, 6, 3, 21, 21, 21, 21, 21]

In [23]:
print(b)

[18, 15, 12, 9, 6, 3]

In [28]:
random.append(21)
print(random)

[18, 15, 12, 9, 6, 3, 21, 21, 21, 21, 21]

In [29]:
print(b)

[18, 15, 12, 9, 6, 3]

In [39]:
random.remove(21)

In [40]:
print(b)

[18, 15, 12, 9, 6, 3]

In [41]:
random.append(21)
b

[18, 15, 12, 9, 6, 3, 21]

In [42]:
random.pop()

21

In [46]:
name = []

In [49]:
for li in random:
    name.append(li)
    print(name)

[18]
[18, 15]
[18, 15, 12]
[18, 15, 12, 9]
[18, 15, 12, 9, 6]
[18, 15, 12, 9, 6, 3]

In [50]:
name

[18, 15, 12, 9, 6, 3]

# Slicing

In [64]:
a = [10,9,8,7,6,5,4,3,2,1]
a[4]

6

In [65]:
a[3:2]

[]

In [2]:
x

NameError: name 'x' is not defined

In [1]:
x[-5]

NameError: name 'x' is not defined

In [68]:
x[-3:-1]

['Qasim', 'Rahat']

In [69]:
x[-5:5]

['Arsalan', 'Asad', 'Qasim', 'Rahat', 'Samad']

# Tupples

In [3]:
a = (1,2,3)
a

(1, 2, 3)

In [4]:
a[2]

3

In [5]:
x,y,z = a

In [6]:
x,y,z

(1, 2, 3)

In [7]:
x
y
z
a

(1, 2, 3)

In [8]:
a

(1, 2, 3)

In [9]:
x
y
z

3

In [10]:
x

1

In [11]:
y

2

In [12]:
z

3

In [13]:
listInlist = [1,2,3,['apple','orange','banana'],(2,3,4)]

In [14]:
listInlist[3][0] = 'egg'

In [15]:
listInlist

[1, 2, 3, ['egg', 'orange', 'banana'], (2, 3, 4)]

In [16]:
listInlist[3][0]='apple'

In [17]:
listInlist

[1, 2, 3, ['apple', 'orange', 'banana'], (2, 3, 4)]

In [28]:
listInlist[3].insert(0,'egg')

In [29]:
listInlist

[1, 2, 3, ['egg', 'egg', 'apple', 'orange', 'banana'], (2, 3, 4)]

# For Loop

In [31]:
students = ['Syed','Sohaib','Khan','Zaeem','Daniyal']
for std in students:
    if std == "Daniyal":
        print(f'{std } bahar jao')
    else:
        print(f'{std } andar ajao')

Syed andar ajao
Sohaib andar ajao
Khan andar ajao
Zaeem andar ajao
Daniyal bahar jao

In [33]:
for q in "Student":
    print(q, end = ' ')

S t u d e n t

In [36]:
for num in range(1,10):
    print(num, end = ' ')

1 2 3 4 5 6 7 8 9

In [ ]:
i = int(input('Which Table would you like to print:'))
for q in range(1,11):
    if q % 2 == 0:
        continue #break
    else:
        ans = i*q
        print(f'{i} x {q} = {i*q}')
    
for num in range(25,0,-2):
    print(num, end = ' ')

In [2]:
list = []
for num in range(3):
    s = input('Type your name: ')
    if s.startswith('S'):
        list.append(s)
list

Type your name: Kash
Type your name: Sohaib
Type your name: Syed

['Sohaib', 'Syed']

# Nested For Loop

In [6]:
for a in [1,2,3]:
    for b in 'Kash':
        print(a,b, end = ' ')

1 K 1 a 1 s 1 h 2 K 2 a 2 s 2 h 3 K 3 a 3 s 3 h

In [19]:
for table in [2]:
    for num in range(1,11):
        print(f'{table} x {num} = {table*num}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# List comprehension

In [21]:
num = [1,2,3,4,5,6,7,8,9,10]
sq = []
for a in num:
    sq.append(a**2)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
[num**2 for num in range(1,11) if num>4]

[25, 36, 49, 64, 81, 100]